* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body {
    align-items: center;
}
h1{
    color:bisque
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }